<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='CSS/style.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='CSS/appointment.css')}}">
    <script type="module" src="{{url_for('static', filename='javascript/app.js')}}"></script>
    <script type="module" src="{{url_for('static', filename='javascript/script.js')}}"></script>
<head>
    <meta charset="UTF-8">
    <title>Health Chatbot</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-primary fixed-top bg-dark" id="nav">
        <div class="container">
            <center>
                <a href="/" target="_self" class="navbar-brand-center">
                    <img src="{{url_for('static', filename='images/ai-gp-logo.png')}}" class="logo lazyLoad isLoaded" title="HealthGP" style="width: 20%; height: 30%;">
                </a>
            </center>
        </div>
    </nav>
    <div class="container">
        <div class="center">
            <div class="btn-group" style="width:100%">
                <button style="width:30%" onclick="myFunction()" class="appointments">
                    <img src="{{url_for('static', filename='images/booking.png')}}" alt="booking" style="width: 10%; height: 10%;">
                    <figcaption>Booking Appointments</figcaption>
                </button>
                <button style="width:30%" >
                    <img src="{{url_for('static', filename='images/diet.png')}}" alt="booking" style="width: 10%; height: 10%;">
                    <figcaption>Diet and Exercise Planning</figcaption>
                </button>
                <button style="width:30%" type="button" class="chatbox__button">
                    <img src="{{url_for('static', filename='images/doctor.png')}}" alt="booking" style="width: 10%; height: 10%;">
                    <figcaption>Reviewing and Reporting Symptoms</figcaption>
                </button>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="chatbox">
            <div class="chatbox__support">
                <div class="chatbox__header">
                    <div class="chatbox__image--header">
                        <img src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-5--v1.png" alt="image">
                    </div>
                    <div class="chatbox__content--header">
                        <h4 class="chatbox__heading--header">Chat support</h4>
                        <p class="chatbox__description--header">Hi.I am AI-GP. How can I help you?</p>
                    </div>
                </div>
                <div class="chatbox__messages" action="/chat" method="post">
                    <div></div>
                </div>
                <div class="chatbox__footer">
                    <input type="text" name="question" placeholder="Write a message...">
                    <button class="chatbox__send--footer send__button">Send</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>